<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/pixi.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var player1 = /*[[${player1}]]*/ 'default';
    var player2 = /*[[${player2}]]*/ 'default';
    /*]]>*/
</script>
    <script src="/bump.js"></script>
    <script src="/app.js"></script>
</body>
</html>